<%= render 'partials/page_header', title: "Explore", description: "Explore various topics and threads created by users!" %>
<div class="flex flex-wrap gap-2 mt-4">
  <% @topics.each do |topic| %>
    <%= link_to topic.name, topic.slug,
        class: "inline-block px-3 py-1.5 text-sm bg-sky-100 text-sky-700 rounded hover:bg-sky-200 transition-colors" %>
  <% end %>
</div>