<%= render 'partials/page_header', title: @topic.slug, description: "Created by #{@topic.user.email_address}" %>

<div class="border-t border-gray-200 pt-6">
  <p class="text-gray-600">No posts yet. Be the first to start a discussion!</p>
</div>